PORT=8080
MONGODB_URI=mongodb+srv://pulseadmin:Pollpass%40123@pulsepoll.wzxqp9i.mongodb.net/pulsepoll_db?retryWrites=true&w=majority&appName=pulsepoll
MONGODB_NAME=pulsepoll_db
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
JWT_SECRET=pulsepoll-production-grade-hmac-sha256-secret-key-9912487
JWT_EXPIRY_HOURS=72
CLIENT_ORIGIN=https://pulsepoll-zara-frontend.onrender.com
FALLBACK_MODE=true
